.header-block {
    background-color: #543D9A;
}

.logo {
    padding: 10px;
    width: 100px;
    height: 100px;
}

.course-btn {
    display: inline-block;
    width: 80%;
    padding-left: 50px;
}

.login-text {
    color: #fff;
    font-size: 20px;
    float: right;
}

.header-btn {
    color: #9B8FBE;
}