.container-block {
    display: flex;
    flex-direction: column;
    min-width: 320px;
}

@media screen and (min-width: 480px) {
    .container-block {
        max-width: 480px;
    }

    .header {
        display: flex;
        justify-content: space-between;
    }
}

@media screen and (min-width: 768px) {
    .container-block {
        max-width: 768px;
    }
}

@media screen and (min-width: 992px) {
    .container-block {
        max-width: 992px;
    }
}

@media screen and (min-width: 1176px) {
    .container-block {
        max-width: 895px;
    }
}
