USE [master]
GO
/****** Object:  Database [UsersAndAwards]    Script Date: 10/13/2016 6:18:17 PM ******/
CREATE DATABASE [UsersAndAwards]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'UsersAndAwards', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\UsersAndAwards.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'UsersAndAwards_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\UsersAndAwards_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [UsersAndAwards].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [UsersAndAwards]
GO
USE [UsersAndAwards]
GO
/****** Object:  Table [dbo].[Awards]    Script Date: 10/13/2016 6:18:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Awards](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](250) NOT NULL,
	[Image] [varbinary](max) NOT NULL,
	[ImageType] [nvarchar](50) NOT NULL,
	[ImageName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Awards] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Images]    Script Date: 10/13/2016 6:18:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Images](
	[Id] [int] NOT NULL,
	[ImageName] [nvarchar](50) NOT NULL,
	[Image] [varbinary](max) NOT NULL,
	[ImageType] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 10/13/2016 6:18:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Birthdate] [datetime] NOT NULL,
	[Photo] [varbinary](max) NULL,
	[TypePhoto] [nvarchar](50) NULL,
	[NamePhoto] [nvarchar](50) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UsersAwards]    Script Date: 10/13/2016 6:18:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsersAwards](
	[IdUser] [int] NOT NULL,
	[IdAward] [int] NOT NULL
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Awards] ON 

SET IDENTITY_INSERT [dbo].[Awards] OFF
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Name], [Birthdate], [Photo], [TypePhoto], [NamePhoto]) VALUES (2009, N'boraicho2', CAST(N'1993-02-21T00:00:00.000' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[Users] ([Id], [Name], [Birthdate], [Photo], [TypePhoto], [NamePhoto]) VALUES (2010, N'boraicho2', CAST(N'1993-02-21T00:00:00.000' AS DateTime), NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Users] OFF
INSERT [dbo].[UsersAwards] ([IdUser], [IdAward]) VALUES (2002, 1005)
INSERT [dbo].[UsersAwards] ([IdUser], [IdAward]) VALUES (2009, 1005)
INSERT [dbo].[UsersAwards] ([IdUser], [IdAward]) VALUES (2002, 1006)
ALTER TABLE [dbo].[UsersAwards]  WITH CHECK ADD  CONSTRAINT [FK_UsersAwards_ToAwards] FOREIGN KEY([IdAward])
REFERENCES [dbo].[Awards] ([Id])
GO
ALTER TABLE [dbo].[UsersAwards] CHECK CONSTRAINT [FK_UsersAwards_ToAwards]
GO
ALTER TABLE [dbo].[UsersAwards]  WITH CHECK ADD  CONSTRAINT [FK_UsersAwards_ToUsers] FOREIGN KEY([IdUser])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[UsersAwards] CHECK CONSTRAINT [FK_UsersAwards_ToUsers]
GO
/****** Object:  StoredProcedure [dbo].[Award_Add]    Script Date: 10/13/2016 6:18:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Award_Add]
	@Title nvarchar(50),
	@Description nvarchar(250),
	@Image varbinary(MAX),
	@ImageType nvarchar(50),
	@ImageName nvarchar(50)
AS
BEGIN
	INSERT INTO dbo.Awards(Title, Description, Image, ImageType, ImageName) VALUES (@Title, @Description, @Image, @ImageType, @ImageName)
END
GO
/****** Object:  StoredProcedure [dbo].[Award_Change]    Script Date: 10/13/2016 6:18:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Award_Change]
	@Id int,
	@Title nvarchar(50),
	@Description nvarchar(50)
AS
UPDATE dbo.Awards SET Title = @Title, Description = @Description WHERE Id = @Id
GO
/****** Object:  StoredProcedure [dbo].[Award_Delete]    Script Date: 10/13/2016 6:18:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Award_Delete]
	@Id int
AS
BEGIN
	DELETE FROM dbo.UsersAwards WHERE IdAward = @Id
	DELETE FROM dbo.Awards WHERE Id = @Id
END
GO
/****** Object:  StoredProcedure [dbo].[Award_Get_All]    Script Date: 10/13/2016 6:18:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Award_Get_All]
AS
	SELECT Awards.Id, Awards.Title, Awards.Description, Awards.Image, Awards.ImageName, Awards.ImageType 
	FROM dbo.Awards
GO
/****** Object:  StoredProcedure [dbo].[Award_Get_By_Id]    Script Date: 10/13/2016 6:18:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Award_Get_By_Id]
	@Id int
	AS
	SELECT Awards.Id, Awards.Title, Awards.Description, Awards.Image, Awards.ImageName, Awards.ImageType
	FROM dbo.Awards
	WHERE Awards.Id = @Id
GO
/****** Object:  StoredProcedure [dbo].[Award_Image_Update]    Script Date: 10/13/2016 6:18:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Award_Image_Update]
	@Image varbinary(MAX),
	@ImageType nvarchar(50),
	@ImageName nvarchar(50),
	@Id int
AS
BEGIN
	UPDATE dbo.Awards SET Image = @Image, ImageType = @ImageType, ImageName = @ImageName WHERE Id = @Id 
END
GO
/****** Object:  StoredProcedure [dbo].[Image_Get_No_Avatar]    Script Date: 10/13/2016 6:18:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Image_Get_No_Avatar]
	@Id int
AS
	SELECT Images.Image, Images.ImageName, Images.ImageType
	FROM dbo.Images
	WHERE Images.Id = @Id
GO
/****** Object:  StoredProcedure [dbo].[Image_Set_No_Avatar]    Script Date: 10/13/2016 6:18:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Image_Set_No_Avatar]
	@Name nvarchar(50),
	@Image varbinary(MAX),
	@Type nvarchar(50)
AS
BEGIN
	INSERT INTO dbo.Images(Id, ImageName, Image, ImageType) 
	VALUES (0, @Name, @Image, @Type)
END
GO
/****** Object:  StoredProcedure [dbo].[User_Add]    Script Date: 10/13/2016 6:18:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[User_Add]
	@Name nvarchar(50),
	@BirthDate datetime
AS
BEGIN
	INSERT INTO dbo.Users(Name, Birthdate) VALUES (@Name, @BirthDate)
	SELECT SCOPE_IDENTITY()
	END
GO
/****** Object:  StoredProcedure [dbo].[User_Add_Award]    Script Date: 10/13/2016 6:18:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[User_Add_Award]
	@IdUser int,
	@IdAward int
AS
BEGIN
	INSERT INTO dbo.UsersAwards(IdUser, IdAward) 
	VALUES (@IdUser, @IdAward)
	END
GO
/****** Object:  StoredProcedure [dbo].[User_Change]    Script Date: 10/13/2016 6:18:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[User_Change]
	@Id int,
	@Name nvarchar(50),
	@Birthdate datetime
AS
UPDATE dbo.Users SET Name = @Name, Birthdate = @Birthdate WHERE Id = @Id
GO
/****** Object:  StoredProcedure [dbo].[User_Delete]    Script Date: 10/13/2016 6:18:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[User_Delete]
	@Id int
AS
BEGIN
	DELETE FROM dbo.UsersAwards WHERE IdUser = @Id
	DELETE FROM dbo.Users WHERE Id = @Id
END
GO
/****** Object:  StoredProcedure [dbo].[User_Delete_Award]    Script Date: 10/13/2016 6:18:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[User_Delete_Award]
	@IdUser int,
	@IdAward int
AS
	DELETE FROM dbo.UsersAwards	
	WHERE dbo.UsersAwards.IdAward = @IdAward 
	AND dbo.UsersAwards.IdUser = @IdUser
GO
/****** Object:  StoredProcedure [dbo].[User_Get_All]    Script Date: 10/13/2016 6:18:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[User_Get_All]
AS
	SELECT Users.Id, Users.Name, Users.Birthdate, Users.NamePhoto, Users.Photo, Users.TypePhoto FROM dbo.Users
GO
/****** Object:  StoredProcedure [dbo].[User_Get_All_Award]    Script Date: 10/13/2016 6:18:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[User_Get_All_Award]
	@Id int
AS
	SELECT UsersAwards.IdAward, Awards.Title, Awards.Description
	FROM dbo.UsersAwards
	JOIN dbo.Awards ON UsersAwards.IdAward = Awards.Id
	WHERE IdUser = @Id
GO
/****** Object:  StoredProcedure [dbo].[User_Get_By_Id]    Script Date: 10/13/2016 6:18:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[User_Get_By_Id]
	@Id int
	AS
	SELECT Users.Id, Users.Name, Users.Birthdate, Users.NamePhoto, Users.Photo, Users.TypePhoto
	FROM dbo.Users
	WHERE Users.Id = @Id
GO
/****** Object:  StoredProcedure [dbo].[User_Photo_Delete]    Script Date: 10/13/2016 6:18:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[User_Photo_Delete]
	@Id int
AS
BEGIN
	UPDATE dbo.Users SET Photo = null, TypePhoto = null, NamePhoto = null WHERE Id = @Id 
END
GO
/****** Object:  StoredProcedure [dbo].[User_Photo_Update]    Script Date: 10/13/2016 6:18:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[User_Photo_Update]
	@Photo varbinary(MAX),
	@TypePhoto nvarchar(50),
	@NamePhoto nvarchar(50),
	@Id int
AS
BEGIN
	UPDATE dbo.Users SET Photo = @Photo, TypePhoto = @TypePhoto, NamePhoto = @NamePhoto WHERE Id = @Id 
END
GO
USE [master]
GO
