.nav-bar {
    height: 100%;
    position: fixed;
    top: 45px;
    bottom: 0;
    left: 0;
    background: #333333;
}

.nav-bar > ul {
    position: relative;
    padding-left: 0px;
    margin: 0;
}
.nav-item {
    width: 200px;
    border-top: 1px solid #000;
}

.nav-item a{
    display: block;
    padding: 1em;
    color: #757575;
}
.nav-item a:hover {
    background: #000;
    color: #fff;
}

label[for="nav-trigger"] {
    position: fixed;
    top: 8px;
    left: 15px;  
    cursor: pointer;
    z-index: 3;
}

.nav-trigger:checked ~ .nav-bar {
    z-index: 3;
}