.main-header {
    position: relative;
}

.main-nav {
    border: 1px solid #e7e7e7;
    border-top: none;
    padding: 15px 5px 10px 5px;
}

.main-tabs {
    width: 100%;
}

.main-tabs > label {
    border: 1px solid #e7e7e7;
    border-bottom: none;
    border-radius: 10px 10px 0 0;
    display: inline-block;
    width: 50%;
    text-align: center;
    padding: 5px 0;
    color: #888888;
    background-color: #B7B7B7;
    cursor: pointer;
}

.main-tabs > label:checked {
    border:none;
    background-color: #f2f2f2;
}

.main-nav > button { 
    border-radius: 5px;
    box-shadow: none;
    color: #767676;
    padding: 5px;
    background: linear-gradient(to top, #d1d1d1, #f0f0f0);
}

.main-nav > div > select {
    border-radius: 5px;
    width: 100%;
    padding: 5px;
    font-size: 12px;
}

.p-block {
    padding-top: 5px;
}

.upper-text {
    text-transform: uppercase;
}