.course-select-left {
    padding-left: 0px;
}

.course-select-right {
    padding-right: 0px;
}

.course-select-right, .course-select-left {
    text-align: center;
}

.course-select-buttons-col {
    padding: 0;
}

.course-select-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
}

.r-btn {
    margin-bottom: 10px;
}