.app{
    background-color: #9B8FBE;
}

.logo-container{
    margin: 0 auto;
    max-width: 1000px;
}

body{
    background-color: #E0E0E0;
}

.centr-layout{
    margin-top: 20px;
}

.footer{
    text-align: center;
    font-size: 18px;
    background-color: #9B8FBE;
}