$red: #CB012F;
$white: #fff;
$black: #000;
$gray: #808080;
$pink: #D84063;
$border-color: #e7e7e7;

/*
    main-block
*/

$main-block-bg-color: #f2f2f2;
$main-header-a-color-text: #969696;
$main-header-h2-color-text: #363636;

/*
    articles
*/

$border-color: #DCDCDC;
$border-shadow: #D7D7D7;
$text-color: #E88FA3;

/*
    buttons
*/

$color-gradient-1: #D1D1D1;
$color-gradient-2: #F1F1F1;

/*
    header-menu
*/

$color-a-text: #757575;
$nav-bar-bg-color: #333333;

/*
    main-header-block
*/

$label-color-text: #363636;
$label-bg-color: #f2f2f2;
$label-bg-color-checked: #B7B7B7;

/*
    main-nav
*/

$main-nav-color-text: #363636;