.nav-bar {
    height: 100%;
    position: fixed;
    top: 45px;
    z-index: 1;
    background: $nav-bar-bg-color;
    margin-left: -170px;
}

.nav-bar > ul {
    position: relative;
    padding-left: 0px;
    margin: 0;
    z-index: 0;
}

.nav-item {
    width: 170px;
    border-top: 1px solid $black;
}

.nav-item a {
    display: block;
    padding: 1em;
    color: $color-a-text;
}

.nav-item a:hover {
    background: $black;
    color: $white;
}

label[for="nav-trigger"] {
    color: $red;
    position: fixed;
    top: 8px;
    left: 15px;
    cursor: pointer;
    z-index: 3;
}

.nav-trigger:checked ~ .nav-bar {
    margin-left: 0;
}

.p-override {
    padding-left: 12px;
    text-transform: none;
    margin: 0;
}
@media screen and (min-width: 750px) {
    .nav-bar {
        width: 170px;
        margin-left: 0;
    }

    label[for="nav-trigger"] {
        display: none;
    }
}
