.footer-menu a{
    color: $white;
}


@media (min-width: 768px) {
    .hor-menu a {
        background-color: $black;
        color: $white;
        font-weight: bold;
    }

    .hor-menu a:hover {
        background-color: #EF7E0D;
    }

    .top-navigation .hor-menu {
            box-shadow: -8px 3px 20px;
    }
}

@media (min-width: 992px) {
    .top-navigation .hor-menu {
        box-shadow: 5px 2px 10px;
    }

    .nav-under-img .hor-menu {
        box-shadow: -5px 2px 10px;
    }
}
