html body {
    width: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.orange-dot {
    width: 4px;
    height: 6px;
    display: inline-block;
    text-align: center;
    margin-right: 5px;
    background: url(data:image/jpg;base64,/9j/4AAQSkZJRgABAgAAZABkAAD/7AARRHVja3kAAQAEAAAAZAAA/+4ADkFkb2JlAGTAAAAAAf/bAIQAAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQICAgICAgICAgICAwMDAwMDAwMDAwEBAQEBAQECAQECAgIBAgIDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMD/8AAEQgABgAEAwERAAIRAQMRAf/EAGUAAQAAAAAAAAAAAAAAAAAAAAkBAQEAAAAAAAAAAAAAAAAAAAgJEAAAAwkAAAAAAAAAAAAAAAA0N0gAImUWJheHOFgRAAADBwUBAAAAAAAAAAAAADM1RwAiFDRkJVaEhRY2F0j/2gAMAwEAAhEDEQA/AHkRXfFHfDGWJQ2aNE0awCQoI+02vnf0hAsO3OF7CYmN0CoQHmc618GWPJ9BEEsjI28SrGdb/9k=);
}

.green-dot {
    width: 4px;
    height: 6px;
    display: inline-block;
    text-align: center;
    margin-right: 5px;
    background: url(data:image/jpg;base64,/9j/4AAQSkZJRgABAgAAZABkAAD/7AARRHVja3kAAQAEAAAAZAAA/+4ADkFkb2JlAGTAAAAAAf/bAIQAAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQICAgICAgICAgICAwMDAwMDAwMDAwEBAQEBAQECAQECAgIBAgIDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMD/8AAEQgABgAEAwERAAIRAQMRAf/EAGAAAQAAAAAAAAAAAAAAAAAAAAoBAQEAAAAAAAAAAAAAAAAAAAAJEAAAAwkAAAAAAAAAAAAAAAA0NkgAImQWJoYXN1gRAAAEBwAAAAAAAAAAAAAAAAAzNUciFGQlhVYX/9oADAMBAAIRAxEAPwBWCZ8oJz5av+Xt3Ho9VEHgA7zTzYPoTGalkZZeUFC5l0ZEQD//2Q==);
}
