/*Header*/
.container > header {
    width: auto;
    height: 524px;
    background-image: url(../images/top_bg.jpg);
    background-repeat: repeat-x;
}

.header-position {
    width: 1000px;
    height: 524px;
    margin: auto;
}

.hedaer-background-style {
    background-image: url(../images/header_bg.jpg);
}

.phone-position {
    margin-left: 794px;
    padding-top: 18px;
}

.phone-style {
    color: #ffffff;
    font-size: 13px;
    font-weight: 700;
}

.logo-position {
    width: 286px;
    height: 72px;
    position: relative;
    top: 38px;
    left: 17px;
}

.logo-style {
    background-image: url(../images/logo.jpg);
}
/*Top navigation*/
.top-nav {
    margin: -13px 0 0 414px;
}

.top-nav-style {
    font-size: 12px;
}

.top-nav-label > input[type="radio"] {
    display: none;
}

.top-nav-label {
    display: inline-block;
    height: 39px;
    width: 76px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    .top-nav-label:not(:first-child) {
        margin-left: 18px;
    }

    .top-nav-label > span {
        display: inline-block;
        height: 39px;
        width: 76px;
        line-height: 39px;
        text-align: center;
        font-weight: bold;
    }

    .top-nav-label:last-child > span {
        height: 39px;
        width: 86px;
    }

    .top-nav-label > input:checked + span {
        background-image: url(../images/home_hover.jpg);
        color: #fff;
    }

    .top-nav-label:last-child > input:checked + span {
        background-image: url(../images/contact_hover.jpg);
        color: #fff;
    }

    .top-nav-label > input + span:hover {
        background-image: url(../images/home_hover.jpg);
        color: #fff;
        cursor: pointer;
    }

    .top-nav-label:last-child > input + span:hover {
        background-image: url(../images/contact_hover.jpg);
        color: #fff;
        cursor: pointer;
    }
/*Top text*/
.header-text-container-position {
    width: 440px;
    height: 220px;
    margin: 150px 0 0 540px;
}

.first-header-position {
    margin-top: -7px;
}

.first-header-override-style {
    font-size: 44px;
    font-weight: 700;
    color: #fff;
}

.text-p-position {
    margin-top: 5px;
}

.text-p-override-style {
    font-size: 11px;
    color: #fff;
    line-height: 17px;
}

.second-header-position {
    margin-top: 5px;
}

.second-header-override-style {
    font-size: 38px;
    font-weight: 500;
}

.style-btn {
    padding-top: 7.5px;
    padding-bottom: 7.5px;
    background: -webkit-linear-gradient(bottom, #A6A6A6, #fcfcfc);
    background: linear-gradient(to top, #A6A6A6, #fcfcfc);
    border-radius: 7px;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
    color: #000;
    display: block;
    width: 92px;
}

    .style-btn:hover {
        color: #d67504;
    }

.ie-mask-btn {
    overflow: hidden;
    width: 92px;
    border-radius: 7px;
    margin-top: 23px;
}

.ie-style-btn {
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#A6A6A6',GradientType=0 );
}

/*Main*/
.main-position {
    display: block;
    width: 1000px;
    margin: auto;
}

.main-header-size {
    width: 1000px;
    height: 145px;
}

.main-header-style {
    background-image: url(../images/growth_bg.jpg);
}

.articles-size {
    width: 700px;
}

.other-panel-position {
    width: 290px;
    height: 630px;
    float: right;
}

.header-main-article-position {
    padding: 47px 0 0 30px;
}

.header-main-article-style {
    color: #576371;
    font-size: 24px;
    font-weight: 600;
}

.text-main-article {
    color: #939da7;
    padding: 3px 0 0 33px;
}

.a-override {
    text-decoration: none;
    color: #d67504;
    font-size: 12px;
}

    .a-override:hover {
        color: #94a640;
    }
/*Articles*/
.article-first {
    width: auto;
    height: 230px;
}

.article-second {
    width: 700px;
    height: 415px;
}

.a-bold {
    font-weight: bold;
}
/*First article*/
.header-first-article {
    padding: 2px 0 0 30px;
}

.header-first-article-style {
    font-size: 30px;
    font-weight: bold;
}

.little-text-header {
    font-size: 22px;
    padding-left: 7px;
    color: #88898e;
}

.text-header-position {
    padding: 19px 0 0 30px;
}

.color-text-header {
    font-size: 12px;
    font-weight: bold;
    color: #94a640;
}

.content-first-article-position {
    padding: 15px 25px 0 30px;
}

.content-first-article-style {
    font-size: 13px;
    line-height: 18px;
    color: #847c7d;
}

.article-first > a {
    display: block;
    margin: 20px 0 0 30px;
}
/*Second article*/
.header-second-article {
    padding: 12px 0 0 30px;
}

.header-second-article-style {
    font-size: 24px;
    font-weight: bold;
}

.text-second-article-position {
    padding: 31px 50px 0 30px;
}

.text-second-article-style {
    font-size: 12px;
    line-height: 17px;
    color: #847c7d;
}

.first-container-second-article {
    margin: 26px 0 0 30px;
    height: 102px;
}

.second-container-second-article {
    margin: 41px 0 0 30px;
    height: 102px;
}

.left-img {
    width: 100px;
    height: 102px;
    float: left;
}

    .left-img img {
        max-height: 100%;
        max-width: 100%;
    }

.container-content {
    margin-left: 120px;
    width: 540px;
}

.header-container-style {
    font-size: 14px;
    color: #d67504;
    font-weight: bold;
    text-decoration: none;
}

    .header-container-style:hover {
        color: #94a640;
    }

.text-container-position {
    padding-top: 15px;
}

.text-container-style {
    font-size: 12px;
    line-height: 17px;
    color: #847c7d;
}

.text-link-bottom {
    display: block;
    margin: 20px 0 0 0;
}

.link-bottom-style {
    text-decoration: none;
    font-size: 12px;
}

.left-img-first {
    background-image: url(../images/pic1.jpg);
}

.left-img-second {
    background-image: url(../images/pic2.jpg);
}
/*Right form*/
.input-panel-position {
    width: 253px;
    height: 286px;
    margin-left: 5px;
}

.panel-style {
    background-color: rgb(246,246,246);
    border: 1px solid #e2e2e2;
    border-radius: 0 0 8px 8px;
    border-top: none;
}

.login-top-position {
    width: 255px;
    height: 89px;
    margin-left: -1px;
}

.login-top-style {
    background-image: url(../images/login_top.jpg);
}

.input-panel-position > label {
    display: block;
    font-size: 11px;
    margin: -15px 0 15px 46px;
}

.input-override-position {
    width: 170px;
    height: 14px;
    display: block;
    margin: -8px 0 25px 35px;
    padding: 5px;
}

.input-override-style {
    font-size: 11px;
    border-radius: 11px;
    border-right: none;
    border-bottom: none;
}

.sub-style {
    color: red;
    font-size: 11px;
}

.login-btn {
    display: block;
    padding: 5px 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.login-btn-style {
    background: -webkit-linear-gradient(bottom, #918889, #a1abb5);
    background: linear-gradient(to top, #918889, #a1abb5);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a1abb5', endColorstr='#918889',GradientType=0 );
    border: none;
    border-radius: 15px;
    color: #ffffff;
    cursor: pointer;
}

    .login-btn-style:hover {
        background: -webkit-linear-gradient(bottom, #d67504, #f69522);
        background: linear-gradient(to top, #d67504, #f69522);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f69522', endColorstr='#d67504',GradientType=0 );
    }

.ie-login-mask-btn {
    overflow: hidden;
    border-radius: 15px;
    width: 70px;
    margin: -13px 0 0 35px;
}

.login-top-position > span {
    margin-left: 20px;
    position: relative;
    top: 34px;
    color: #94a640;
    font-size: 24px;
    font-weight: 700;
}

.input-panel-position > a {
    display: block;
    margin: 15px 0 -7px 35px;
    width: 140px;
}

.news-a-override {
    color: #847c7d;
}

    .news-a-override:hover {
        color: #d67504;
    }
/*Right news*/
.news-position {
    width: 253px;
    height: 338px;
    margin: 8px 0 0 5px;
}

.news-style {
    background-color: rgb(246,246,246);
    border: 1px solid #e2e2e2;
    border-radius: 0 0 8px 8px;
    border-top: none;
}

.news-top-style {
    background-image: url(../images/event_top.jpg);
}

.news-top-position {
    width: 255px;
    height: 80px;
    margin-left: -1px;
}



    .news-top-position > span {
        position: relative;
        margin-left: 65px;
        top: 40px;
        font-size: 24px;
        font-weight: 600;
        color: #e1800e;
    }

.left-img-news-position {
    width: 24px;
    height: 26px;
    float: left;
    margin-left: 19px;
}

.left-img-news-style {
    background-image: url(../images/green_right.jpg);
}

.header-news {
    padding: 12px 0 0 53px;
    font-size: 12px;
    font-weight: bold;
    color: #94a640;
}

.text-news {
    font-size: 12px;
    padding: 15px 10px 0 53px;
    line-height: 16px;
    color: #847c7d;
}

.link-news-position {
    display: inline-block;
    margin-left: 54px;
    margin-top: 8px;
}

.link-news-style {
    font-size: 11px;
}

.news-container-position-override {
    margin-top: 17px;
}
/*footer*/
.container > footer {
    width: auto;
    height: 122px;
    margin-top: 15px;
    background: #fff url(../images/footer_bg.jpg) repeat-x;
}

.footer-nav-position {
    float: left;
    width: 490px;
    padding: 55px 0 0 475px;
}

.footer-nav-style {
    color: #d67504;
    font-size: 12px;
    font-weight: bold;
}

.footer-nav-label > input[type="radio"] {
    display: none;
}

.footer-nav-label {
    display: inline-block;
    height: 12px;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    .footer-nav-label:not(:first-child) {
        border-left: 1px solid #d67504;
    }

    .footer-nav-label > span {
        display: inline-block;
        padding: 0 13px;
        text-align: center;
    }

    .footer-nav-label > input:checked + span {
        color: #94a640;
    }

    .footer-nav-label:last-child > input:checked + span {
        color: #94a640;
    }

    .footer-nav-label > input + span:hover {
        color: #94a640;
        cursor: pointer;
    }

    .footer-nav-label:last-child > input + span:hover {
        color: #94a640;
        cursor: pointer;
    }

.coopyright-position {
    display: block;
    padding-top: 55px;
    margin-left: 1035px;
}

.coopyright-style {
    font-size: 12px;
}
