.article {
    margin-top: 20px;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
}

.text-container {
    padding: 0 10px;
}

.short-text {
    margin: 10px 0;
}

@media (min-width: 480px) {
    .article {
        max-width: 215px;
    }
}

@media (min-width: 768px) {
    .article {
        max-width: 160px;
    }
}

@media (min-width: 1176px) {
    .article {
        max-width: 205px;
    }
}